@charset "UTF-8";
*{margin: 0; padding: 0;}
.약:after{content: ""; clear: both; display: block;}

/* 비디오 */
.비디오전체{width: 80%; margin: auto;}
.비디오전체 video{width: 100%;}

.main{background-color: #937DC2;
width: 80%; margin: auto;/* 너비에 %를 쓰게 되면 화면을 줄여도.. 반응형 만들 때 많이 사용 */
padding: 2%;
padding-top: 5%; /* 아래쪽에 적는 것이 힘이 세다.(덮어쓰기 됨) */
box-sizing: border-box;
} 
.main .첫째{background-color: #937DC2; margin-top: 30px;}
.main .첫째 .첫째손{float:left; height: 200px; width: 49%;}
.main .첫째 .자식1{background-color: #FFABE1; margin-right: 2%;}
.main .첫째 .자식2{background-color: #FFE6F7;}

.main .둘째{background-color: #EA047E;margin-top: 30px;}
.main .둘째 .둘째손{float: left; height:200px; width: 33.3333%;}
/* .main .둘째{} .둘째손.둘째손1{} */
.main .둘째 .둘째손1{background-color: #FF6D28;}
.main .둘째 .둘째손2{background-color: #FCE700;}
.main .둘째 .둘째손3{background-color: #00F5FF;}
.main .둘째 .막내{clear: both;}

.main .셋째{background-color: darkslategray;
            margin-top: 30px;}
.main .셋째 iframe{width: 100%;}

.main .넷째{background-color: #937DC2;margin-top: 30px;}
.main .넷째 .넷째손{float: left; width: 23.5%; height: 200px; margin-right: 2%;}
.main .넷째 .넷자손1{background-color: #E5EBB2;}
.main .넷째 .넷자손2{background-color: #BCE29E;}
.main .넷째 .넷자손3{background-color: #B8E8FC;}
.main .넷째 .넷자손4{background-color: #B1AFFF; margin-right: 0;}