@charset "UTF-8";

*{margin: 0; padding: 0;}
img{width: 100%;}
.clear:after{content: ""; clear: both; display: block; }
body{background-color: #000;}

.전체{width: 1000px; background-color: gray;
    /* rgb방식 16진법 0~15 0,1,2,3,4,5,6,7,8,9,,A,B,C,D,E,F 색이 많이 섞일 수록 흰색
    10진법 0~9 
    CMYK 0000 흰색, 색이 많이 섞일 수록 검정색*/
margin: auto; padding-top: 50px;}

.전체 .첫째{position: relative;
    color: #fff;}
.전체 .첫째 .icon{
    position: absolute;
    right:20px; top: 10px;
    z-index: 100;
}
.전체 .첫째 .제목{
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    background-color: rgba(255,255,255,0.5);
    padding: 10px 30px;
    border-radius: 15px;
}
.slickwrap{height: 445px; overflow: hidden;}

.slickwrap .slick-prev{
    position: absolute;
    left: 0; top: 50%;
    transform: translatey(-50%);
    z-index: 100;
    visibility: hidden;
    font-size: 0;
}

.slickwrap .slick-prev:after{
    content: "\f060";
    font-family: "Font Awesome 5 Free";  /* before 위에 있는 i태그를 개발자모드로 클릭하면 확인가능 */
    font-weight: 900;
    visibility: visible;
    color: #fff;
    font-size: 60px;
    text-shadow: -1px -1px 7px black;
}

.slickwrap .slick-next{
    position: absolute;
    right: 0; top: 50%;
    transform: translatey(-50%);
    visibility: hidden;
}

.slickwrap .slick-next:after{
    content: "\f061";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    visibility: visible;
    color: #fff;
    font-size: 60px;
    text-shadow: -1px -1px 7px black;
}



.전체 .둘째{background-color: #FFF8EA;
padding: 20px;}
.전체 .둘째 .둘자손{
    float: left;
    width: 23.5%; height: 300px; margin-right: 2%;}
.전체 .둘째 .둘자식1{background-color:#9E7676;}
.전체 .둘째 .둘자식2{background-color:#815B5B;}
.전체 .둘째 .둘자식3{background-color:#594545;}
.전체 .둘째 .둘자식4{background-color:#3C2317;
    margin:0;
box-sizing: border-box;}
.전체 .둘째 .둘자식4 .slick-track{height: 300px;}

.전체 .둘째 .둘자식4 .slick-dots{
    position: absolute;
    left: 0; bottom: 0; width: 100%;
    text-align: center;
}
.전체 .둘째 .둘자식4 .slick-dots li{
    display: inline; margin: 0 5px;
}

.전체 .셋째{background-color: #FFF8EA; padding: 20px; text-align: center;
line-height: 200px;} /* text-align: center; 부모한테 줘야 한다. 싸고 있는 블럭요소한테 */
.전체 .셋째 .셋째영역{background-color:#3C2317; padding: 20px; width: 900px; box-sizing: border-box;
margin: auto;
/* border: 두께 스타일 칼라 */
border:2px solid orange;}
.전체 .셋째 .셋자손{float:left; height: 200px; width: 32%; margin-right: 2%;}
.전체 .셋째 .셋자식1{background-color:#9E7676;}
.전체 .셋째 .셋자식2{background-color:#815B5B;}
.전체 .셋째 .셋자식3{background-color:#594545; margin: 0;}

.전체 .넷째{background-color: #FFF8EA; width: 900px; margin: auto; margin-top: 30px; padding: 20px; box-sizing: border-box;}

.전체 .넷째 .넷자손{width: 23.5%; float: left; height: 200px; margin-right: 2%; text-align: center; line-height: 200px;}
.전체 .넷째 .넷자식1{background-color:#9E7676;}
.전체 .넷째 .넷자식2{background-color:#815B5B;}
.전체 .넷째 .넷자식3{background-color:#594545;}
.전체 .넷째 .넷자식4{background-color:#3C2317; margin: 0;}

.전체 .다째{background-color: #FFF8EA; width: 900px; padding: 20px; box-sizing: border-box; margin: auto; margin-top: 30px;}
.전체 .다째 .다손{float: left; height: 200px; margin-right: 10%; width: 45%; text-align: center; line-height: 200px;}
.전체 .다째 .첫째{background-color:#9E7676;}
.전체 .다째 .둘쨋{background-color:#815B5B; margin-right: 0;}

.전체 .여섯{background-color: #FFF8EA; width: 900px; margin: auto; margin-top: 30px;}
.전체 .여섯 .여손자{background-color:#9E7676; width: 18.4%; height: 200px; float: left; margin-right: 2%; }
.전체 .여섯 .여손자.여자식1{}
.전체 .여섯 .여손자.여자식2{}
.전체 .여섯 .여손자.여자식3{}
.전체 .여섯 .여손자.여자식4{}
.전체 .여섯 .여손자.여자식5{margin-right: 0;}